In [ ]:
import pandas as pd
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
pd.set_option("display.width",None)
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("Dataset.csv")

Level 2

Task 1: Restaurant Ratings

(A)  Analyze the distribution of aggregate ratings and determine the most common rating range.

In [ ]:
#Aggregate rating:
unique_rating=df['Aggregate rating'].unique()
unique_rating

This are aggregate rating.

In [ ]:
#Statistical Analysis of aggregate rating:
statistical_rating=df['Aggregate rating'].describe()
statistical_rating

In dataset:

1. Count of total aggregate rating is 9551

2. Maximum aggregate rating is 4.9

3. Minimum aggregate rating around 0.0

4. Average aggregate rating is 2.6

5. Each aggregate rating have difference of 1.5

In [ ]:
#Analyze the distribution of aggregate rating through boxplot.
plt.figure(figsize=(4,4))
sns.boxplot(x=df['Aggregate rating'],data=df,color='teal')
plt.title("Distribution of Aggregate Rating")
plt.tight_layout()
plt.show()

Through Boxplot :

25 % of aggregate rating are below 2.5 range

50 % of aggregate rating are less than or equal to 3.2

75 % of aggregate rating are less than or equal to 3.7

100 % of aggregate rating are less than equal to 4.9

In [ ]:
#Most common rating range:
rating_range=df['Aggregate rating'].value_counts().sort_values(ascending=False).head(1)
rating_range
df['Aggregate rating'].quantile(1)

Most Common aggregate rating range is 0.0 having count 2148.

(B)  Calculate the average number of votes received by restaurants.

In [ ]:
#Average number of votes received by restaurant
Average_votes=df['Votes'].mean()
Average_votes

The average number of votes received by restaurant is 156

Task 2: Cuisines Combination

(A)  Identify the most common combinations of cuisines in the dataset

In [ ]:
#Most Common Combination of cuisines in dataset:
df['Cuisines'].value_counts().sort_values(ascending=False).head(10)

Most common combination of cuisines in the dataset :  North Indian, Chinese

Second most common combination of cuisines in the dataset :  North Indian, Mughlai

Third most common combination of cuisines in the dataset :  North Indian, Mughlai, Chinese

(B)  Determine if certain cuisine combinations tend to have higher ratings.

In [ ]:
#Cuisines Combination tend to have higher rating:
cuisines_rating=df.groupby(df[df['Aggregate rating']==4.9]['Aggregate rating'])['Cuisines'].value_counts().sort_values(ascending=False)
cuisines_rating

Sunda, Indonesian cuisines combination have higher rating 4.9 three times.

Task 3:  Geographic Analysis

(A)  Plot the locations of restaurants on a map using longitude and latitude coordinates.

In [ ]:
#Ploting the location of restaurants on a map using longitude and latitude coordinates:
import folium 
from folium.plugins import MarkerCluster
m=folium.Map(location=[df.loc[0,'Latitude'],df.loc[0,'Longitude']],zoom_start=6)

marker_cluster=MarkerCluster().add_to(m)

for series in df.itertuples():
    folium.Marker([series.Latitude,series.Longitude],popup=series.City,tooltip=series.City,icon=folium.Icon(icon='cutlery',color='red')).add_to(marker_cluster)

m

This map show different location of restaurants in each city of country by latitude and longitude.

(B)  Identify any patterns or clusters of restaurants in specific areas.

In [ ]:
import folium 
from folium.plugins import MarkerCluster
m=folium.Map(location=[df.loc[0,'Latitude'],df.loc[0,'Longitude']],zoom_start=6)

marker_cluster=MarkerCluster().add_to(m)

for series in df.itertuples():
    folium.Marker([series.Latitude,series.Longitude],popup=series.City,tootip=series.City,icon=folium.Icon(icon='cutlery',color='red')).add_to(marker_cluster)
    
m

Most clusters of restaurants are in india :

In india new delhi city with highest number of restaurants.

Task 4 : Restaurant Chains

(A)  Identify if there are any restaurant chains present in the dataset.

In [ ]:
#Retaurant chains present in the city:
restaurant_Chain=df.groupby('Restaurant Name')['City'].value_counts().sort_values(ascending=False).head(5)
restaurant_Chain

                                Restaurant Chains present in a city                               


The restaurant 'Cafe Coffee Day' having most restaurant chains in new delhi city.

The restaurant 'Domino's Pizza' having second most restaurant chains in new delhi city.

In [ ]:
#Restaurant Chain present in a country:
restaurants_Chain=df.groupby('Restaurant Name')['Country Code'].value_counts().sort_values(ascending=False).head()
restaurants_Chain

                                Restaurant Chains present in a country                               

The restaurant 'Cafe Coffee Day' having most restaurant chains in country (Associated With Country Code 1).

The restaurant 'Domino's Pizza' having second most restaurant chains in country (Associated With Country Code 1).

(B)  Analyze the ratings and popularity of different restaurant chains.

 Top 2 restaurant chains rating and popularity :

1. Cafe Coffee Day

In [ ]:
#Rating and popularity of different restaurant chains :

#Cafe Coffee Day Restaurant 

#In City:

restaurant_Name=df[df['Restaurant Name']=='Cafe Coffee Day']

# Restaurant chains rating count
rating_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Aggregate rating']].value_counts()

# Restaurant chain rating color count
color_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Rating color']].value_counts()

# Restaurant chain rating text count
text_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Rating text']].value_counts()

Cafe_Coffee_Day=[rating_Restaurant_Chains1,color_Restaurant_Chains1,text_Restaurant_Chains1]
print('\t-: Rating and popularity of Cafe Coffee Day restaurant chains in new delhi city :-')
for i in Cafe_Coffee_Day:
    print("\n",i)
print('\n\n')

#In Country:

restaurant_Name=df[df['Restaurant Name']=='Cafe Coffee Day']

# Restaurant chains rating count
rating_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Aggregate rating']].value_counts()

# Restaurant chain rating color count
color_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Rating color']].value_counts()

# Restaurant chain rating text count
text_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Rating text']].value_counts()

Cafe_Coffee_Day=[rating_Restaurant_Chains1,color_Restaurant_Chains1,text_Restaurant_Chains1]
print('\t-: Rating and popularity of Cafe Coffee Day restaurant chains in country')
for i in Cafe_Coffee_Day:
    print("\n",i)

            Analyze the rating and popularity of 'Cafe Coffee Day' restaurant chains in new delhi city      

1. 'Cafe Coffee Day' restaurant chains having most aggregate rating:

    0.0

2. 'Cafe Coffee Day' restaurant chains having most rating color:

    Orange

3. 'Cafe Coffee Day' restaurant chains having most rating text:

    Average

            Analyze the rating and popularity of 'Cafe Coffee Day' restaurant chains in country       

1. 'Cafe Coffee Day' restaurant chains having most aggregate rating:

    0.0

2. 'Cafe Coffee Day' restaurant chains having most rating color:

    Orange

3. 'Cafe Coffee Day' restaurant chains having most rating text:

    Average

2. Domino's Pizza

In [ ]:
# Domino's Pizza

#In City:

restaurant_Name=df[df['Restaurant Name']=="Domino's Pizza"]

# Restaurant chains rating count
rating_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Aggregate rating']].value_counts()

# Restaurant chain rating color count
color_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Rating color']].value_counts()

# Restaurant chain rating text count
text_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']=='New Delhi']['City'])[['Restaurant Name','Rating text']].value_counts()

Cafe_Coffee_Day=[rating_Restaurant_Chains1,color_Restaurant_Chains1,text_Restaurant_Chains1]
print("\t-: Rating and popularity of Domino's Pizza restaurant chains in new delhi city :-")
for i in Cafe_Coffee_Day:
    print("\n",i)
print('\n\n')

#In Country:

restaurant_Name=df[df['Restaurant Name']=="Domino's Pizza"]

# Restaurant chains rating count
rating_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Aggregate rating']].value_counts()

# Restaurant chain rating color count
color_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Rating color']].value_counts()

# Restaurant chain rating text count
text_Restaurant_Chains1=restaurant_Name.groupby(df[df['Country Code']==1]['Country Code'])[['Restaurant Name','Rating text']].value_counts()

dominos=[rating_Restaurant_Chains1,color_Restaurant_Chains1,text_Restaurant_Chains1]
print("\t-: Rating and popularity of Domino's Pizza restaurant chains in country")
for i in dominos:
    print("\n",i)

            Analyze the rating and popularity of 'Domino's Pizza' restaurant chains in new delhi city       

1. 'Domino's Pizza' restaurant chains having most aggregate rating:

    2.5

2. 'Domino's Pizza' restaurant chains having most rating color:

    Orange

3. 'Domino's Pizza' restaurant chains having most rating text:

    Average

            Analyze the rating and popularity of 'Domino's Pizza' restaurant chains in country      

1. 'Domino's Pizza' restaurant chains having most aggregate rating:

    2.5

2. 'Domino's Pizza' restaurant chains having most rating color:

    Orange

3. 'Domino's Pizza' restaurant chains having most rating text:

    Average

To analyze the rating and popularity of different restaurant chains in city :


Restaurant Name and City must be same as in dataset

In [ ]:
#To Check different restaurant rating and popularity:

#Input
restaurant=input("Enter the restaurant name: ")
restaurant_City=input("Enter the restaurant city:  ")

#Grouping
restaurant_Name=df[df['Restaurant Name']==restaurant]
rating_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']==restaurant_City]['City'])[['Restaurant Name','Aggregate rating']].value_counts()
color_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']==restaurant_City]['City'])[['Restaurant Name','Rating color']].value_counts()
text_Restaurant_Chains1=restaurant_Name.groupby(df[df['City']==restaurant_City]['City'])[['Restaurant Name','Rating text']].value_counts()
Cafe_Coffee_Day=[rating_Restaurant_Chains1,color_Restaurant_Chains1,text_Restaurant_Chains1]

#Output
print(f"\t-: Rating and popularity of {restaurant} restaurant chains in new delhi city :-")
for i in Cafe_Coffee_Day:
    print("\n\n",i)

In [ ]:
%reset -f